* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

h1 {
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
  background-color: #0B5351;
  color: white; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: none;
  margin: 0 3rem 3rem 3rem; }
  main .formSection {
    margin: 2rem; }
  main .formRecipe {
    display: flex;
    flex-direction: column;
    align-items: none;
    justify-content: flex-start;
    margin: 0 2rem 2rem 0;
    padding: 5rem;
    width: 1000px;
    border-style: solid;
    border-color: #092327;
    border-radius: 1rem; }
    main .formRecipe .methodForm {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
    main .formRecipe .descriptionForm {
      margin-bottom: 0.5rem; }

.formInputs {
  width: 100%; }
  .formInputs #add {
    width: 1.8rem;
    padding: 0.1rem 0.6rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem; }
  .formInputs #remove {
    width: 1.8rem;
    padding: 0.1rem 0.6rem;
    margin-left: 0.3rem; }
  .formInputs input {
    margin-top: 0.5rem;
    margin-bottom: 0rem; }

.jsonTitle {
  text-align: center;
  font-size: 2.5rem; }

#jsonRecipeList {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap; }
  #jsonRecipeList .card {
    margin: 1.5rem 1.5rem 1.5rem 0rem; }
