* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'; }

body {
  background-image: url(../images/42258.jpg);
  background-position: center;
  background-size: cover; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: none;
  padding: 0 3rem 3rem 3rem; }
  main h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    margin-top: 1.5rem;
    background-color: rgba(255, 255, 255, 0.749);
    color: black;
    border-radius: 2.5rem; }
  main .formSection {
    margin: 2rem;
    width: 60%; }
  main .formRecipe {
    display: flex;
    flex-direction: column;
    align-items: none;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.749);
    margin: 0 2rem 2rem 0;
    padding: 5rem;
    width: 100%;
    border-style: solid;
    border-color: #092327;
    border-radius: 1rem;
    color: black; }
    main .formRecipe .nameDiv {
      display: flex;
      flex-direction: row;
      align-items: none;
      justify-content: space-between;
      margin-bottom: 0.5rem; }
      main .formRecipe .nameDiv input {
        width: 200px; }
    main .formRecipe p {
      font-size: 1.1rem; }
    main .formRecipe input, main .formRecipe textarea {
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 5px 10px; }
    main .formRecipe .methodForm {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
    main .formRecipe .descriptionForm {
      margin-bottom: 0.5rem; }

.formInputs {
  width: 100%;
  display: grid;
  margin-bottom: 0.5rem;
  grid-template-areas: "title title " "inputs buttons" "newInputs buttons"; }
  .formInputs p {
    grid-area: title; }
  .formInputs #add {
    width: 1.8rem;
    padding: 0.1rem 0.6rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem; }
  .formInputs #remove {
    width: 1.8rem;
    padding: 0.1rem 0.6rem;
    margin-left: 0.3rem; }
  .formInputs .inputs {
    grid-area: inputs;
    margin-top: 0.5rem; }
    .formInputs .inputs input {
      width: 150px;
      margin-bottom: 0.5rem; }
  .formInputs .ingredientsForm {
    grid-area: newInputs; }
    .formInputs .ingredientsForm input {
      margin-top: 0rem;
      margin-bottom: 0.5rem;
      width: 150px; }
  .formInputs .buttonsForm {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    grid-area: buttons;
    margin-top: 0.5rem; }

.card {
  margin: 1.5rem 1.5rem 1.5rem 0rem;
  border-color: #092327;
  width: 318px; }
  .card .card-header {
    color: white;
    background-color: rgba(68, 66, 66, 0.741); }
  .card .card-body {
    display: flex;
    flex-direction: column;
    align-items: none;
    justify-content: space-between; }

.jsonTitle {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  background-color: rgba(77, 77, 77, 0.521); }

#jsonRecipeList {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap; }

.recipeListTitle {
  font-size: 2.5rem;
  text-align: center;
  color: white;
  background-color: rgba(77, 77, 77, 0.521); }

#divContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap; }
  #divContainer .card .card-body .dateRecipe {
    color: #b6b6b6;
    font-style: oblique; }
  #divContainer .card .card-body .divButton {
    display: flex;
    flex-direction: row;
    align-items: none;
    justify-content: space-between; }
    #divContainer .card .card-body .divButton .btn {
      width: 120px; }

@media screen and (max-width: 800px) {
  main {
    padding: 0 1rem; } }

@media screen and (max-width: 1000px) {
  main .formSection {
    width: 80%; } }

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  main .formSection {
    width: 90%; } }

@media screen and (max-width: 600px) {
  main .formRecipe {
    padding: 1.5rem; } }

@media screen and (max-width: 740px) {
  main .formRecipe .nameDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: none; } }

@media screen and (max-width: 740px) {
  main .formRecipe .nameDiv input {
    margin-bottom: 0.5rem; } }

@media screen and (max-width: 450px) {
  main .formInputs .inputs input {
    width: 180px; } }

@media screen and (min-width: 450px) and (max-width: 1200px) {
  main .formInputs .inputs input {
    width: 250px; } }

@media screen and (max-width: 670px) {
  main .formInputs .buttonsForm {
    display: flex;
    flex-direction: column;
    align-items: none;
    justify-content: flex-start; } }

@media screen and (max-width: 670px) {
  main .formInputs #add, main .formInputs #remove {
    margin-bottom: 0.5rem;
    width: 3rem;
    padding: 0.4rem 0.4rem;
    margin-left: 0rem; } }

@media screen and (max-width: 450px) {
  main .formInputs .ingredientsForm input {
    width: 180px; } }

@media screen and (min-width: 450px) and (max-width: 1260px) {
  main .formInputs .ingredientsForm input {
    width: 250px; } }

@media screen and (min-width: 1460px) {
  main #jsonRecipeList, main #divContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start; } }
