body {
  background-image: url(../images/42258.jpg);
  background-position: center;
  background-size: cover;
}

main {
  @include flex-box (column, center, none);
  padding: 0 3rem 3rem 3rem;

  h1 {
    font-size: $font-size-h1;
    text-align: center;
    padding: 1rem;
    margin-top: 1.5rem;
    background-color: rgba(255, 255, 255, 0.749);
    color: black;
    border-radius: 2.5rem;
  }

  .formSection {
    margin: 2rem;
    width: 55%;
  }

  .formRecipe {
    @include flex-box (column, none, flex-start);
    background-color: rgba(255, 255, 255, 0.749);
    margin: 0 2rem 2rem 0;
;   padding: 5rem;
    width: 100%;
    border-style: solid;
    border-color: #092327;
    border-radius: 1rem;
    color: black;

    .nameDiv {
      @include flex-box(row, none, space-between);
      margin-bottom: 0.5rem;
  
      input {
        width: 200px;
      }
    }
  
    p {
      font-size: 1.1rem;
    }
   
    input, textarea {
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 5px 10px;
  
    }

    .methodForm {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .descriptionForm {
      margin-bottom: 0.5rem;

    }
  }
}


.formInputs {
  width: 100%;
  display: grid;
  margin-bottom: 0.5rem;
  grid-template-areas: 
    "title title "
    "inputs buttons"
    "newInputs buttons";

  p {
    grid-area: title;
  }
  
  #add {
    width: 1.8rem;
    padding: 0.1rem 0.6rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }

  #remove {
    width: 1.8rem;
    padding: 0.1rem 0.6rem;
    margin-left: 0.3rem;
  }

  .inputs {
    grid-area: inputs;
    margin-top: 0.5rem;

    input {
      width: 180px;
      margin-bottom: 0.5rem;
    }
  }

  .ingredientsForm {
    grid-area: newInputs;

    input {
      margin-top: 0rem;
      margin-bottom: 0.5rem;
      width: 180px;
    }
  }

  .buttonsForm {
    grid-area: buttons;
    margin-top: 0.5rem;
  }
}

.card {
  margin: 1.5rem 1.5rem 1.5rem 0rem;
  border-color: #092327;
  width: 318px;

  .card-header {
    color: rgb(255, 255, 255);
    background-color: rgba(68, 66, 66, 0.741);
  }

  .card-body {
    @include flex-box (column, none, space-between);

  }
  
}

.jsonTitle {
  text-align: center;
  font-size: $font-size-h2;
  color: white;
  background-color: rgba(77, 77, 77, 0.521);
  
}

#jsonRecipeList {
  @include flex-box (row, stretch, left);
  flex-wrap: wrap;
}


.recipeListTitle {
  font-size: $font-size-h2;
  text-align: center;
  color: white;
  background-color: rgba(77, 77, 77, 0.521);
}

#divContainer {
  @include flex-box (row, stretch, left);
  flex-wrap: wrap;

  .card {

    .card-body {

      .dateRecipe {
        color: rgb(182, 182, 182);
        font-style: oblique;
      }

      .divButton {
        @include flex-box (row, none, space-between);
  
        .btn {
          width: 120px;
        }
      }
    }
  }
  
}

